%h1 Listing diapositivas

%table
  %tr
    %th Slide
    %th Titulo
    %th Link
    %th
    %th
    %th

  - @diapositivas.each do |diapositiva|
    %tr
      %td= diapositiva.slide
      %td= diapositiva.titulo
      %td= diapositiva.link
      %td= link_to 'Show', diapositiva
      %td= link_to 'Edit', edit_diapositiva_path(diapositiva), class: 'button-update'
      %td= link_to 'Destroy', diapositiva, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-delete'

%br

= link_to 'New Diapositiva', new_diapositiva_path
