= form_for @contacto do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")} prohibited this contacto from being saved:"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
      Envíanos un mensaje
    .field
      = f.text_field :nombre
      = f.label :nombre, 'Nombre / Empresa *'
    .field
      = f.text_field :email
      = f.label :email, 'E-mail *'
    .field
      = f.text_field :telefono
      = f.label :telefono, 'Teléfono'
    .field
      = f.label :mensaje, 'Mensaje *'
      %br
      = f.text_area :mensaje
    .actions
      = f.submit 'Enviar'
