
#page-content
  %h1.page-title 
    = page_title! 'Noticias'

  - if current_admin
    .admin.head
      = link_to 'New Noticia', new_noticia_path, class: 'button-create'

  .content
    - @noticias.each do |noticia|
      .info.resumen
        = link_to image_tag(noticia.imagen_url(:thumb_noticia)), noticia
        .textual-content
          %h3.title= noticia.titulo
          = paragraph_truncate(noticia.contenido, 200)

          = link_to 'Show', noticia, class: 'button button-readmore'
          .admin-iterate
            = link_to 'Edit', edit_noticia_path(noticia)
            = link_to 'Destroy', noticia, :method => :delete, :data => { :confirm => 'Are you sure?' }





