
#page-content
  %h1.page-title
    = page_title! 'Noticias'

  - if current_admin
    .admin.head
      = link_to 'Nueva Noticia', new_noticia_path, class: 'button-create'

  .content
    - @noticias.each do |noticia|
      .info.resumen
        - if noticia.link.empty?
          = link_to image_tag(noticia.imagen_url(:thumb)), noticia
          .textual-content
            %h3.title= noticia.titulo
            = paragraph_truncate(noticia.contenido, 200)
            - if current_admin
              .admin-iterate
                = link_to 'Editar', edit_noticia_path(noticia), class: 'button-update'
                = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-delete'

          = link_to 'Leer más', noticia, class: 'button button-readmore'
        - else
          = link_to image_tag(noticia.imagen_url(:thumb)), noticia.link, target: '_blank'
          .textual-content
            %h3.title= noticia.titulo
            - if current_admin
              .admin-iterate
                = link_to 'Editar', edit_noticia_path(noticia), class: 'button-update'
                = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-delete'

          = link_to 'Leer más', noticia.link, class: 'button button-readmore', target: '_blank'







