
#page-content
  %h1.page-title 
    = page_title! 'Noticias'

  - if current_admin
    .admin.head
      = link_to 'New Noticia', new_noticia_path, class: 'button-create'

  .content


%p#notice= notice

%p
  %b Titulo:
  = @noticia.titulo
%p
  %b Contenido:
  = @noticia.contenido
%p
  %b Imagen:
  = @noticia.imagen

= link_to 'Edit', edit_noticia_path(@noticia)
\|
= link_to 'Back', noticias_path
