
#page-content
  %h1.page-title
    = page_title! 'Noticias'

  - if current_admin
    .admin.head
      = link_to 'Editar', edit_noticia_path(@noticia), class: 'button-create'
  %h3.heading
    = @noticia.titulo
  .content.presentacion
    = image_tag(@noticia.imagen_url(:medium))
    .textual-content
      = paragraph(@noticia.contenido)
      - unless @noticia.link.empty?
        = link_to @noticia.link, @noticia.link, target: '_blank'

  = link_to 'Regresar', :back, class: 'button-back-cms'
