
#page-content
  %h1.page-title
    = page_title! 'Noticias'

  - if current_admin
    .admin.head
      = link_to 'Editar', edit_noticia_path(@noticia), class: 'button-create'
  %h3.heading
    = @noticia.titulo
  .content.presentacion
    = image_tag(@noticia.imagen_url(:medium))
    .textual-content
      = paragraph(@noticia.contenido)

  = link_to 'Regresar', noticias_path, class: 'button-back-cms'
