= form_for @tipo, :html => { multipart: true } do |f|
  - if @tipo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tipo.errors.count, "error")} prohibited this tipo from being saved:"
      %ul
        - @tipo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :imagen
    = f.file_field :imagen
  .actions
    = f.submit 'Save'
