%h1 Listing tipos

%table
  %tr
    %th Nombre
    %th Imagen
    %th
    %th
    %th

  - @tipos.each do |tipo|
    %tr
      %td= tipo.nombre
      %td= tipo.imagen
      %td= link_to 'Show', reino_categoria_subcategoria_tipo_productos_path(tipo.subcategoria.categoria.reino, tipo.subcategoria.categoria, tipo.subcategoria, tipo)
      %td= link_to 'Edit', edit_reino_categoria_subcategoria_tipo_path(tipo.subcategoria.categoria.reino, tipo.subcategoria.categoria, tipo.subcategoria, tipo)
      %td= link_to 'Destroy', reino_categoria_subcategoria_tipo_path(tipo.subcategoria.categoria.reino, tipo.subcategoria.categoria, tipo.subcategoria, tipo), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tipo', new_reino_categoria_subcategoria_tipo_path(@subcategoria.categoria.reino, @subcategoria.categoria, @subcategoria)
