#page-content

  %h3.heading
    = page_title! @reino.nombre + ' > ' + @categoria.nombre + ' > ' + @subcategoria.nombre + ' > Tipos'

  - if current_admin
    .admin.head
      = link_to 'Nuevo Tipo', new_reino_categoria_subcategoria_tipo_path(@reino, @categoria, @subcategoria), class: 'button-create'
      = link_to 'Nuevo Producto', new_reino_categoria_subcategoria_producto_path(@reino, @categoria, @subcategoria), class: 'button-create'

  .content.presentacion
    = image_tag @subcategoria.imagen_url(:vertical) if @subcategoria.imagen?
    .textual-content
      - @tipos.each do |tipo|
        %h3.heading
          = link_to tipo.nombre, reino_categoria_subcategoria_tipo_subtipos_path(@reino, @categoria, @subcategoria, tipo)

        - if current_admin
          .admin-iterate
            = link_to 'Editar', edit_reino_categoria_subcategoria_tipo_path(@reino, @categoria, @subcategoria, tipo), class: 'button-update'
            = link_to 'Eliminar', reino_categoria_subcategoria_tipo_path(@reino, @categoria, @subcategoria, tipo), :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'button-delete'


    .textual-content
      - @productos.each do |producto|
        %h3.heading
          = link_to producto.nombre, reino_categoria_subcategoria_producto_path(@reino, @categoria, @subcategoria, producto)

        - if current_admin
          .admin-iterate
            = link_to 'Editar', edit_reino_categoria_subcategoria_producto_path(@reino, @categoria, @subcategoria, producto), class: 'button-update'
            = link_to 'Eliminar', reino_categoria_subcategoria_producto_path(@reino, @categoria, @subcategoria, producto), :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'button-delete'
