= form_for @marca, :html => { multipart: true } do |f|
  - if @marca.errors.any?
    #error_explanation
      %h2= "#{pluralize(@marca.errors.count, "error")} prohibited this marca from being saved:"
      %ul
        - @marca.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :logo
    = f.file_field :logo
  .field
    = f.label :link
    = f.text_field :link
  .actions
    = f.submit 'Save'
