
#page-content
  %h1.page-title 
    = page_title! 'Marcas Representadas'

  - if current_admin
    .admin.head
      = link_to 'New Marca', new_marca_path, class: 'button-create'

  .content.img-gallery
    - @marcas.each do |marca|
      = link_to image_tag(marca.logo_url(:medium), alt: marca.link), marca.link, class: cycle('col-1', 'col-2', 'col-3', 'col-4')

  -#
    - @marcas.each do |marca|
      tr
        %td= marca.logo
        %td= marca.link
        %td= link_to 'Show', marca
        %td= link_to 'Edit', edit_marca_path(marca)
        %td= link_to 'Destroy', marca, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
  
