
#page-content
  %h1.page-title
    = page_title! 'Marcas Representadas'

  - if current_admin
    .admin.head
      = link_to 'Nueva Marca', new_marca_path, class: 'button-create'

  .content.img-gallery
    - @marcas.each do |marca|
      .img-wrapper
        = link_to marca.link, class: cycle('col-1', 'col-2', 'col-3', 'col-4'), target: '_blank' do
          = image_tag(marca.logo_url(:medium), alt: marca.link)
          %h5.click Click Aquí
        - if current_admin
          .admin.iterate
            = link_to 'Editar', edit_marca_path(marca), class: 'button-update'
            = link_to 'Eliminar', marca, :method => :delete, :confirm => 'Are you sure?', class: 'button-delete'
