%h1 Listing categorias

%table
  %tr
    %th Nombre
    %th Imagen
    %th
    %th
    %th

  - @categorias.each do |categoria|
    %tr
      %td= categoria.nombre
      %td= categoria.imagen
      %td= link_to 'Show', reino_categoria_path(categoria.reino, categoria)
      %td= link_to 'Edit', edit_reino_categoria_path(categoria.reino, categoria)
      %td= link_to 'Destroy', reino_categoria_path(categoria.reino, categoria), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Categoria', new_reino_categoria_path(@reino)
