#page-content

  %h3.heading
    = page_title! 'Reinos'

  - if current_admin
    .admin.head
      = link_to 'Nueva Categoria', new_categoria_path, class: 'button-create'

  .content.presentacion
    = image_tag('/assets/imagen_categoria.jpg')

    .textual-content
      - @categorias.each do |categoria|
        %h3.heading
          = link_to categoria.nombre, categoria
        - if current_admin
          .admin-iterate
            = link_to 'Editar', edit_categoria_path(categoria)
            = link_to 'Eliminar', categoria, :method => :delete, :data => { :confirm => 'Are you sure?' }
