= form_for [@reino, @categoria, @subcategoria, @tipo, @subtipo, @producto], :html => { multipart: true } do |f|
  - if @producto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@producto.errors.count, "error")} prohibited this producto from being saved:"
      %ul
        - @producto.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :descripcion
    = f.text_area :descripcion
  .field
    = f.label :imagen
    = f.file_field :imagen
  .field
    = f.label :archivo_pdf
    = f.file_field :archivo_pdf
  .actions
    = f.submit 'Guardar'
