#page-content
  %h1.page-title
    = page_title! 'Resultado de búsqueda'

  %header.content-header.content-header-search
    - if params[:busqueda].empty?
      Mostrando todos los productos
    - else
      =  pluralize(@productos.size, 'resultado') + ' para '
    %b
      = params[:busqueda]
  .content.resumenes.titulo-parrafo
    - @productos.each do |producto|
      .info.resumen
        = link_to image_tag(producto.imagen_url(:thumb_busqueda)), reino_categoria_subcategoria_tipo_producto_path(producto.reino, producto.tipo.subcategoria.categoria, producto.tipo.subcategoria, producto.tipo, producto)
        .textual-content
          %h3.title= link_to producto.nombre, reino_categoria_subcategoria_tipo_producto_path(producto.reino, producto.tipo.subcategoria.categoria, producto.tipo.subcategoria, producto.tipo, producto)
          = paragraph_truncate(producto.descripcion, 200)
          = link_to '+ Información', reino_categoria_subcategoria_tipo_producto_path(producto.reino, producto.tipo.subcategoria.categoria, producto.tipo.subcategoria, producto.tipo, producto), class: 'link-more'
