#page-content

  %h3.heading
    = page_title! 'Reinos'

  - if current_admin
    .admin.head
      = link_to 'Nuevo Reino', new_reino_path, class: 'button-create'

  .content.presentacion
    = image_tag('/assets/imagen_categoria.jpg')

    .textual-content
      - @reinos.each do |reino|
        %h3.heading
          = link_to reino.nombre, categorias_reino_path(reino)

        - if current_admin
          .admin.iterate
            = link_to 'Editar', edit_reino_path(reino), class: 'button-update'
            = link_to 'Eliminar', reino, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-delete'
