%h1 Listing subcategorias

%table
  %tr
    %th Nombre
    %th Imagen
    %th
    %th
    %th

  - @subcategorias.each do |subcategoria|
    %tr
      %td= subcategoria.nombre
      %td= subcategoria.imagen
      %td= link_to 'Show', reino_categoria_subcategoria_tipos_path(subcategoria.categoria.reino, subcategoria.categoria, subcategoria)
      %td= link_to 'Edit', edit_reino_categoria_subcategoria_path(subcategoria.categoria.reino, subcategoria.categoria, subcategoria)
      %td= link_to 'Destroy', reino_categoria_subcategoria_path(subcategoria.categoria.reino, subcategoria.categoria, subcategoria), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subcategoria', new_reino_categoria_subcategoria_path(@categoria.reino, @categoria)
