%ul.submenu
  %li.first
    = link_to_unless_current 'Inicio', root_path do
      %span Inicio
  %li
    = link_to_unless_current '¿Quiénes Somos?', quienes_somos_path do
      %span ¿Quiénes Somos?
  %li
    = link_to_unless_current 'Productos', categorias_path do
      %span Productos
    - unless @categorias_tree.empty?
      %ul.submenu.nivel-1
        - @categorias_tree.each do |categoria_tree|
          %li
            = link_to_unless_current categoria_tree.nombre, categoria_tree do
              %span= categoria_tree.nombre
            - unless @subcategorias_tree.empty?
              %ul.submenu.nivel-2
                - @subcategorias_tree.each do |subcategoria_tree|
                  %li
                    = link_to_unless_current subcategoria_tree.nombre, categoria_subcategoria_path(categoria_tree, subcategoria_tree) do
                      %span= subcategoria.tree.nombre

                    %ul.submenu.nivel-3
                      %li
                        = link_to_unless_current 'Antibióticos', 'http://www.google.com' do
                          %span Antibióticos
                        %ul.submenu.nivel-4
                          %li
                            = link_to_unless_current 'Inyectables', 'http://www.google.com' do
                              %span Inyectables
                          %li
                            = link_to_unless_current 'Solubles', 'http://www.google.com' do
                              %span Solubles

                          %li
                            = link_to_unless_current 'Premix', 'http://www.google.com' do
                              %span Premix
                        // end submenú nivel 4

  %li
    = link_to_unless_current 'Representados', marcas_path do
      %span Representados
  %li
    = link_to_unless_current 'Global News', noticias_path do
      %span Global News
  %li.last
    = link_to_unless_current 'Contacto', new_contacto_path do
      %span Contacto
