%ul.submenu
  %li.first
    = link_to_unless_current 'Inicio', root_path do
      %span Inicio
  %li
    = link_to_unless_current '¿Quiénes Somos?', quienes_somos_path do
      %span ¿Quiénes Somos?
  %li
    = link_to_unless_current 'Productos', reinos_path do
      %span Productos
    - unless @reinos_tree.empty?
      %ul.submenu.nivel-1
        - @reinos_tree.each do |reino_tree|
          %li
            = link_to_unless_current reino_tree.nombre, reino_categorias_path(reino_tree) do
              %span= reino_tree.nombre

            // end submenu nivel 1

            - unless reino_tree.categorias.empty?
              %ul.submenu.nivel-2
                - reino_tree.categorias.each do |categoria_tree|
                  %li
                    = link_to_unless_current categoria_tree.nombre, reino_categoria_subcategorias_path(reino_tree, categoria_tree) do
                      %span= categoria_tree.nombre

                    // end submenu nivel 2

                    - unless @subcategorias_tree.empty?
                      %ul.submenu.nivel-3
                        - @subcategorias_tree.select { |sub| sub.categoria_id == categoria_tree.id }.each do |subcategoria_tree|
                          %li
                            = link_to_unless_current subcategoria_tree.nombre, reino_categoria_subcategoria_tipos_path(reino_tree, categoria_tree, subcategoria_tree) do
                              %span= subcategoria_tree.nombre

                            // end submenu nivel 3

                            - unless @tipos_tree.empty?
                              %ul.submenu.nivel-4
                                - @tipos_tree.select { |tipo| tipo.subcategoria_id == subcategoria_tree.id }.each do |tipo_tree|
                                  %li
                                    = link_to_unless_current tipo_tree.nombre, reino_categoria_subcategoria_tipo_productos_path(reino_tree, categoria_tree, subcategoria_tree, tipo_tree) do
                                      %span= tipo_tree.nombre

                                    // end submenu nivel 4

  %li
    = link_to_unless_current 'Representados', marcas_path do
      %span Representados
  %li
    = link_to_unless_current 'Global News', noticias_path do
      %span Global News
  %li.last
    = link_to_unless_current 'Contacto', new_contacto_path do
      %span Contacto
